h1{
    background-color: black;
    color: aqua;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    margin: 10px;
    padding-bottom: 5px;
}
span{
    color: white;
}
h2{
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    margin: 10px;
    padding-bottom: 5px;
}
h3{
    background-color: rgb(113, 185, 233);
    color: rebeccapurple;
    text-align: right;
    text-decoration: underline;
    font-weight: 550;
    margin: 10px;
    padding-bottom: 5px;
}